<ai-loadingindicator *ngIf='showLoadingLayer'></ai-loadingindicator>

<md-list-item *ngFor='let navNode of navNodes'>

        <div class="row tree-node-desc">
            <div class="col-md-10">
                <button md-icon-button *ngIf='navNode.canExpand() && !navNode.isExpanded()' (click) = 'navNode.expand()'><md-icon>keyboard_arrow_right</md-icon></button>
                <button md-icon-button *ngIf='navNode.isExpanded()' (click) = 'navNode.collapse()'><md-icon>keyboard_arrow_down</md-icon></button>
                <button md-button (click)='navNode.toggle();navNodeShowDocuments(($event), navNode)'> {{ navNode.properties.Description }} </button>
            </div>
            <div class="col-md-2" style="text-align: right">
                <button md-icon-button routerLink="/pwFolderProperties/{{navNode.properties['Key_InstanceId']}}" title="Properties">
                    <md-icon>settings</md-icon>
                </button>
                <button md-icon-button [mdMenuTriggerFor]="menu">
                    <md-icon>more_vert</md-icon>
                </button>
            </div>

            <md-menu #menu="mdMenu">
                        <button md-button class="md-secondary md-icon-button" (click)='navNodeShowDocuments(($event), navNode)'>DOCUMENTS</button>
                        <button md-button (click)='navNodeShowDocumentsAdd(($event), navNode)'>ADD TO DOCUMENT LIST</button>
                        <button md-button color="warn" (click)='resetRecursiveDocCounter();navNodeShowDocumentsRecursive(($event), navNode, 0)'>GET ALL DOCUMENTS</button>
            </md-menu>

        </div> 


    <div *ngIf="navNode.isExpanded()" class="tree-styling">
        <md-list-item>
            <pm-navnodes [currentNavNode]="navNode"></pm-navnodes>
        </md-list-item>
    </div>
</md-list-item>