    <pm-repositories  class="col-sm-12" *ngIf="getCurrentRepository() == undefined">Loading app ...</pm-repositories>
        <form [formGroup]="searchForm" (ngSubmit)="doSearch($event)" *ngIf="getCurrentRepository() != undefined" col-sm-12 >
            <md-input-container >
                <input mdInput formControlName='formDocumentDescriptionSearchValue' placeholder="Description"  col-sm-11>
            </md-input-container>

            <button md-icon-button type="submit" col-sm-1><md-icon>search</md-icon></button>


        </form>


    <pm-documents  *ngIf="getCurrentRepository() != undefined" [globalSearchText]=documentDescriptionSearchValue> Loading app ...</pm-documents>
