<ai-loadingindicator *ngIf='showLoadingLayer'></ai-loadingindicator>

<md-list *ngIf='documents && documents.length'>
    <md-input-container>
        <input mdInput class="col-sm-12" type="text" [formControl]='descriptionFilterByControl' placeholder="Description"/>
    </md-input-container>

    <md-list-item class="noright" *ngFor='let document of documents | documentStringFieldFilter: "documentCode": documentCodeFilterBy | documentStringFieldFilter: "description" : descriptionFilterBy '>
        <p class="mat-list-text">{{ document.description }} </p>
        <md-icon (click)="openPW(document)"><span class="glyphicon glyphicon-share-alt" title="Open in PW"></span></md-icon>
        <md-icon style="cursor: pointer" (click)='openDocument(document)'><span class="glyphicon glyphicon-open-file" title="Open"></span></md-icon>
    </md-list-item>
</md-list>